*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color: #24252A;
}
li,a,button{
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
  list-style-type: none;
}

header{
  background-color: #0088a9;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding: 30px 10%;
}

.name{
   background: none;
   color:#edf0f1;
   font-size: 30px;
   color: #FF69B4;
   animation-name: namee;
   animation-iteration-count: infinite;
}

@keyframes namee{
   0% {margin-left: 15px;}
   50% {margin-left: 25%;}
   100% {margin-left: 15px;}
}

.nac{
  background: none;
}

.navbar li{
   display: inline-flex;
   padding: 0px 20px;
}

.navbar li a{
   transition: all 0.3 ease 0s;
}

.navbar li a:hover{
  color: #8B008B;
}

.btn{
  margin-top: 190px;
  margin-left: 10px; 
  padding:9px 25px;
  background-color: black;
  border: none;
  outline: none;
  border-radius: 50px;
  transition: all 0.3 ease 0s;
}

.input{
  background-color: #edf0f1;
  border-radius: 50px;
  height: 40px;
  width: 200px;
  border: 1px solid;
  outline: none;
  margin-top: 10px ;
  margin-left: 200px;
  font-size: 25px;
  padding-left: 60px;
  color: blue;
}

.btn:hover{
  background-color: #0088a9;
  cursor: pointer;
}

.tag{
  position: absolute;
  padding-top: 140px;
  padding-left: 195px;
  color: white;
}

.output_heading{
  position: absolute;
  top: 400px;
  font-size: 20px;
  color: white;
  left:125px;
}
.output{
  position: absolute;
  top: 440px;
  color: white;
  font-size: 18px;
  left:125px;
}